# This is a basic workflow that is manually triggered
name: Buil the docker image

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  push:
    # Inputs the workflow accepts.
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Authenticate with DigitalOcean Container Registry using doctl
    steps:
    - name: Install doctl
      uses: digitalocean/action-doctl@v2
      with:
        token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
    
    - name: Log in to DO Container Registry
      run: doctl registry login --expiry-seconds 1200

    # Build the Docker image
    - name: Build the Docker image
      run: docker build -t nginx-cons-img .
    # Tag the Docker image for DigitalOcean Container Registry
    - name: Tag Docker image for DigitalOcean Container Registry
      run: docker tag nginx-cons-img registry.digitalocean.com/maslow--registry/nginx-cons-img:latest
 
    # Push the Docker image to DigitalOcean Container Registry
    - name: Push Docker image to DigitalOcean Container Registry
      run: |
        doctl registry login --expiry-seconds 1000
        docker push registry.digitalocean.com/maslow--registry/nginx-cons-img:latest